Library/
obj/
Logs/
Temp/
ProjectSettings/
.vs/
Unity.PlayableGraphVisualizer.csproj
Unity.PlayableGraphVisualizer.Editor.csproj
Playable_Animator.sln
Assembly-CSharp.csproj
Packages/
Assets/Plugins/
PlayableAnimator.sln
Assets/Plugins.meta
Animancer.csproj
